<!doctype html>
<html lang="et">
  <head>
    <meta charset="utf-8" />
    <title>Agnessa</title>
  </head>
  <body>
    <img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimine 2024.aasta banner"></img>
    <h1>Agnessa Tund</h1>
    <p>see leht on loodud õppetöö raames <a href="https:/www.tlu.ee" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu</p>
    <hr>
    <% if (user) { %>
      <p>Sisse loginud kasutaja:  <%= user.firstName %> <%= user.lastName %></p>
    <% } %>
    <h2>Eesti film</h2>
    <ul>
      <li><a href="/home">Avaleht</a></li>
      <li><a href="/eestifilm">Eesti filmi avaleht</a></li>
    </ul>
    <hr>
    <h2>Lisa seosed</h2>
    <form method="POST">
      <label for="personSelect">Filmitegelane</label>
      <br>
      <select id="personSelect" name="personSelect">
        <option selected disabled>Vali tegelane</option>
        <% personList.forEach(function(person) { %>
          <option value="<%= person.id %>">
            <%= person.first_name %> <%= person.last_name %>, sünd. <%= person.birth_date %>
          </option>
        <% }); %>
      </select>
      <br>

      <label for="movieSelect">Film</label>
      <br>
      <select id="movieSelect" name="movieSelect">
        <option selected disabled>Vali film</option>
        <% movieList.forEach(function(movie) { %>
          <option value="<%= movie.id %>">
            <%= movie.title %>, toodetud: <%= movie.production_year %>
          </option>
        <% }); %>
      </select>
      <br>

      <label for="positionSelect">Roll/amet</label>
      <br>
      <select id="positionSelect" name="positionSelect">
        <option selected disabled>Vali roll/amet</option>
        <% positionList.forEach(function(position) { %>
          <option value="<%= position.id %>">
            <%= position.position_name %>
          </option>
        <% }); %>
      </select>
      <br>

      <label for="roleInput">Roll/tegelaskuju (kui on näitleja)</label>
      <input type="text" id="roleInput" name="roleInput" placeholder="Tegelaskuju ...">
      <br>
      <input type="submit" id="relationSubmit" name="relationSubmit" value="Salvesta">
    </form>
    <ul>
    </ul>
  </body>
</html>